:root {
  --validated: #5be881;
  --rejected: #ff0000;
  --on_validation: #fdb64d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", sans-serif, Ubuntu, Cantarell, "Open Sans";
  font-size: 1rem;
}

body,
.container,
.users_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container,
.users_container,
.add_user_btn {
  width: 100%;
}

.container {
  margin: 1rem;
  flex-direction: column;
}

.users_container,
.add_user_btn {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0px 1px 10px -6px black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: start;
}

tbody tr {
  border-top: 1px solid gainsboro;
}

th,
td {
  padding: 1rem;
}

.validated {
  background-color: var(--validated);
}

.pending {
  background-color: var(--on_validation);
}

.rejected {
  background-color: var(--rejected);
}

.validated,
.pending,
.rejected {
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.add_user_btn {
  margin-top: 1rem;
}

.add_user_btn button {
  float: right;
  padding: 0.5rem 1.5rem;
  background-color: #ffc21c;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0px 3px 10px -6px rgb(0 0 0);
}

.add_user_btn button:hover {
  background-color: #f0b20a;
  transition: 0.2s ease-in;
}
